# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Dictionary
*.bin
*.csv
output/*
Pangolin/cmake-build-debug
Pangolin/build
Pangolin/examples/cmake-build-debug
SPADE/*
cmake-build-debug/*
build/

rl_evaluation/load_map_output/*
rl_evaluation/novel_left/*
rl_evaluation/novel_right/*
rl_evaluation/paired/*
rl_evaluation/src/*.so

.idea/
rl_evaluation/.idea/

__pycache__/
*.pyc

.ipynb_checkpoints/
rl_evaluation/.ipynb_checkpoints/
rl_evaluation/src/.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

.DS_Store
