# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Dictionary
*.bin
*.csv
output/*
Pangolin/cmake-build-debug
Pangolin/build
SPADE/*
cmake-build-debug/*

rl_evaluation/load_map_output
rl_evaluation/novel_left
rl_evaluation/novel_right
rl_evaluation/paired

.DS_Store
